h1, h2{
    font-family: 'Lucida Handwriting', cursive;
}

body {
    background-color: #ffe082;
}

a {
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: black;
}

a:hover {
    font-size: 30px;
    color: #696969;
}
p, ul, ol {
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}